<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>数据导出页面</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=9"/>
    <!-- bootstrap -->
    <!--<link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.css}"/>-->
    <!--<link rel="stylesheet" type="text/css" th:href="@{/index/index.css}"/>-->
    <link rel="stylesheet" type="text/css" th:href="@{/static/index/normalize.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/index/demo.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/index/component.css}"/>
</head>
<!--添加这个样式之后防止页面因为添加iframe导致的页面出现滚动条-->
<body style="width:100%;height: 100%;overflow:hidden;">

<div class="container demo-1" id="container">
    <div class="content">
        <div id="large-header" class="large-header" style="height: 488px;">
            <canvas id="demo-canvas" width="1920" height="488"></canvas>
            <div class="zlkjlogo">
                <!-- <img src="login/images/logo.png" onmouseover="MM_over(this)" onmouseout="MM_out(this)"> -->
            </div>

            <div class="logo_box">
                <!--<img th:src="@{../image/names.png}"-->
                <!--style="margin:0 0 20px 0; margin-left:-25px; opacity:0.9; filter:alpha(opacity=90); ">-->
                <div style="margin:0 0 30px 0; text-align: center;font-size: 30px;">列车视频迁移终端系统</div>
                <form name="loginForm" id="loginForm" method="post"><!-- j_spring_security_check -->
                    <div class="input_outer">
                        <span class="u_user"></span>
                        <input id="name" name="name" class="text" style="color: #FFFFFF !important" type="text"
                               placeholder="请输入账户" autofocus="autofocus" required="true"
                               minlength="1" maxlength="11">
                    </div>
                    <div class="input_outer">
                        <span class="us_uer"></span>
                        <input id="password" name="password" class="text"
                               style="color: #FFFFFF !important; position:absolute; z-index:100;" type="password"
                               placeholder="请输入密码" autofocus="autofocus" required="true"
                               minlength="1" maxlength="11">
                    </div>
                    <div class="mb2">
                        <!--<span id="mess"></span>-->
                        <!--<a class="act-but submit" href="javascript:void(0);" onclick="login()" style="color: #FFFFFF">登&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;录</a>-->
                        <button class="submit_btn" onclick="login();">登&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;录</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--因为高度设置100%不起作用可能是登录页面的原因，现在先给个高度 高度不能给太高，不然动的那个效果就有问题了-->
<!--IE设置宽度也不起作用，所以也给定宽度-->
<iframe id="main_frame" style="width:2000px;height:1200px;border:none;display:none;"></iframe>
</body>
<script type="text/javascript" th:src="@{/static/js/jquery.min.js}"></script>
<!-- layer -->
<script type="text/javascript" th:src="@{/static/layer/layer.js}"></script>
<!-- jquery-validator -->
<script type="text/javascript" th:src="@{/static/jquery-validation/jquery.validate.min.js}"></script>
<script type="text/javascript" th:src="@{/static/jquery-validation/localization/messages_zh.min.js}"></script>
<!--页面动态效果-->
<script type="text/javascript" th:src="@{/static/js/TweenLite.js}"></script>
<script type="text/javascript" th:src="@{/static/js/demo-1.js}"></script>
<script>
    function login() {
        // fullScreen();
        $("#loginForm").validate({
            submitHandler: function (form) {
                doLogin();
            }
        });
    }

    $(function () {
        // document.onwebkitfullscreenchange = fullScreen;
        // document.documentElement.onclick = fullScreen;
        // document.onkeydown = fullScreen;
        document.oncontextmenu = function () {
            return false;
        };
        document.onkeydown = function (event) {
            var e = event || window.event || arguments.callee.caller.arguments[0];
            if (e && e.keyCode === 116) {
                return false;
            }
        }
    });

    function doLogin() {
        var password = $("#password").val();
        $.ajax({
            url: "/login",
            type: "POST",
            data: {
                username: $("#name").val(),
                password: password
            },
            success: function (data) {
                console.log(data);
                if (data.code === '0') {
                    // layer.msg("成功");
                    // window.location.href = "/index";
                    $("#container").hide();
                    $('#main_frame').attr('src', '/index');
                    // fullScreen1();
                    document.getElementById("main_frame").style.display = "";
                    // parent.document.getElementById("frame").style.display = "none";
                } else {
                    layer.msg(data.msg);
                }
            },
            error: function (data) {
                console.log("err", data);
                layer.closeAll();
            }
        });
    }

    function fullScreen() {
        var el = document.documentElement;
        var rfs = el.requestFullScreen || el.webkitRequestFullScreen || el.mozRequestFullScreen || el.msRequestFullscreen;
        if (typeof rfs !== "undefined" && rfs) {
            rfs.call(el);
        }
    }

    function fullScreen1() {
        var el = document.getElementById("main_frame");
        var rfs = el.requestFullScreen || el.webkitRequestFullScreen || el.mozRequestFullScreen || el.msRequestFullscreen;
        if (typeof rfs !== "undefined" && rfs) {
            rfs.call(el);
        }
    }
</script>
</html>